{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    {% block links %}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-default">
    {% get_language_info_list for LANGUAGES as languages %}
    <form action="{% url "set_language" %}" method="post" class="navbar-form navbar-right">
    {% csrf_token %}
    <div class="form-group">
        <select name="language" class="form-control" onchange="this.form.submit()">
        {% for language in languages %}
        <option value="{{ language.code }}"
            {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
            {{ language.name_local }}
        </option>
        {% endfor %}
        </select>
    </div>
    </form>
    {% block auth_btns %}
        <form action=""class="navbar-form navbar-left">
        <div class="form-group">
    {% if request.user.is_authenticated %}
        <button id="show_cart" class="btn btn-info">{% trans "Info" %}</button>
        <a href="/logout" class="btn btn-primary form-control">{% trans "Log out" %}</a>
    {% endif %}

    {% if not request.user.is_authenticated %}
        <a href="/sign_up" class="btn btn-primary form-control">{% trans "Sign Up" %}</a>
        <a href="/sign_in" class="btn btn-primary form-control">{% trans "Sign In" %}</a>
    {% endif %}

         </div>
    </form>
    {% endblock %}
    </div>

    </div>

    {% block page_title%}<link rel="stylesheet" type="text/css" href='{% static "css/header.css" %}'>
    <div class="page-header"><h1>{% trans "Credit System" %}</h1></div>
    {% endblock %}

    {% block info %}
    {% endblock %}

    {% block sources %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
    {% endblock %}
</body>
</html>