{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href='{% static "css/auth.css" %}'>
{% endblock %}

{% block info %}
<div class="wrapper">
    <form class="form-signin" action="./" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name="first_name" placeholder="{% trans 'First Name' %}" autofocus=""/>
        <input type="text" class="form-control" name="last_name" placeholder="{% trans 'Last Name' %}"/>

        <input type="text" class="form-control" name="username" placeholder="{% trans 'Email Address' %}" required="" autofocus=""/>
        <input type="password" class="form-control" name="password" placeholder="{% trans 'Password' %}" required=""/>

        {% if form.errors %}
        {% for error in form.errors %}
        <div class="msg-error">{% trans error %}</div>
        {% endfor %}
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign Up' %}</button>
    </form>
</div>
{% endblock %}


